<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>消息--即刻社区</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<div th:replace="admin/commons/link::head('/admin/static/css/public.css')"></div>
</head>
<body class="childrenBody">
	<div class="noFind">
		<div class="ufo">
			<i class="seraph icon-test ufo_icon"></i>
			<i class="layui-icon page_icon">&#xe7ae;</i>
		</div>
		<div class="pageInfo">
			<i class="layui-icon">&#xe667;</i>
			<p th:text="${message} != null ? ${message} : '默认消息!'">默认消息!</p>
		</div>
	</div>

	<div th:replace="admin/commons/script::script('')"></div>
	<script th:inline="javascript">
        var flag = [[${isRefresh}]];
        if(flag == true){
        	setTimeout("refresh('"+flag+"')", 2500);
        }
        function refresh(status){
            window.parent.location.reload();//刷新父页面
        }
	</script>
</body>
</html>